body {
  font-family: "Courier New";
  margin: 0;
}

button, select, input {
  font-family: "Courier New";
  font-size: 12px;
  position: relative!important;
  left: 0!important;
  top: 0!important;
  right: 0!important;
  bottom: 0!important;
  background-color: #FFF;
}

button, select {
  width: auto!important;
  height: 21px!important;
  padding: 3px 6px!important;
  margin: 3px 3px!important;
  border: solid 1px;
  border-radius: 3px;
}

button:hover, select:hover{
  background-color: #000;
  color: #FFF;
  border-color: #000;
}


.title {
  position: absolute;
  z-index: 1;
  width: 100vw;
  mix-blend-mode: difference;
}

p {
  font-size: 13px;
}

canvas {
  width: 100vw!important;
  /*transform: rotate(0.5turn);*/
  height: 100vh!important;
  filter: saturate(0) contrast(100) invert(1);
}
